* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*variable color*/
/*variables de fuente*/
/*estilos barra nav*/
.navbar {
  background-color: olivedrab;
  border: solid 1px black;
}

.navbar-toggler {
  border: none !important;
}

nav img {
  margin-right: 70px;
}

.nav-link {
  font-size: 30px;
  font-family: "El Messiri", sans-serif;
  color: #fff !important;
}

.nav-link:hover {
  color: black !important;
}

.anime {
  transition: transform 0.2s ease;
}

.anime:hover {
  transform: scale(1.1);
}

.anime-1 {
  margin: 20px;
  border: 1px solid #eee;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.anime-1:hover {
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
}

/*estilos jumbotron*/
.jumbotron {
  background-image: url(img/pino.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100vw;
  font-family: "El Messiri", sans-serif;
  color: black;
  text-shadow: 0 0 aqua;
  border-top: solid 1px black;
}

.lead {
  font-size: 1.8em;
}

.container {
  margin-top: 200px;
  margin-left: 100px;
}

.container-fluid {
  overflow: hidden;
  text-shadow: none;
}

/* estilo h2 - parrafo*/
.titulo-2 {
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: "El Messiri", sans-serif;
}

.parrafo {
  text-align: center;
  font-family: "El Messiri", sans-serif;
  padding: 50px;
  font-size: 25px;
  color: black;
  margin: 0;
}

/*estilos a las cards de producto*/
.card-body {
  font-family: "El Messiri", sans-serif;
}

.card-title {
  font-size: 20px;
}

.card {
  border: solid 1px black;
  margin: 30px !important;
  background-color: olivedrab;
}

.card-img-top {
  width: 100%;
}

.ul-item {
  padding: 40px;
}

/*estilos footer*/
footer {
  background-color: olivedrab;
  border-top: solid 1px black;
}

footer ul li a {
  color: #fff;
}

footer h3 {
  font-size: 20px;
}

.size {
  font-size: 20px;
}

.fa-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  color: black;
}

/*estilo carrusel*/
#quienes, #servicios, #inicio, #prod, #contacto {
  background: rgb(27, 117, 53);
  background: linear-gradient(180deg, rgb(27, 117, 53) 0%, rgb(156, 140, 32) 100%);
}

.d-item {
  height: 500px;
}

.d-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.contenete {
  width: 60%;
  margin: 0px auto;
}

.carousel-inner {
  margin-top: 50px;
  padding-bottom: 50px;
}

/*para servicios*/
.row-style {
  margin: 20px;
  background-color: none;
}

.img-serv {
  width: 70%;
  height: auto;
  margin: 10px;
}

.parr-serv {
  font-family: "El Messiri", sans-serif;
  font-size: 22px;
  margin: 25px;
}

.h1 {
  font-size: 32px;
  font-family: "El Messiri", sans-serif;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

/*para formulario*/
main form {
  background-image: url(img/trees-gab96cc16d_1280.jpg);
  background-size: 100vw 100vh;
  background-position: center;
  background-size: cover;
  margin: 0px auto;
}

.formulario {
  padding: 20px;
}

form {
  width: 450px;
  height: auto;
  padding: 10px 20px;
  border-radius: 7px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 17px;
  font-family: "El Messiri", sans-serif;
  border: solid 1px black;
  border-radius: 7px;
  background-color: rgb(153, 189, 81);
}

.margen {
  margin-top: 20px;
}

.estilo {
  text-align: center;
  font-family: "El Messiri", sans-serif;
  color: #fff;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}
@media (max-width: 680px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 480px) {
  .display-1 {
    font-size: 3rem;
  }
}
/*estilo mapa*/
.contenedor {
  width: 50%;
  margin: 0px auto;
}



/*# sourceMappingURL=estilos.css.map */
